<!DOCTYPE html>
<html>
    <head>
        <title>Doctors Availability </title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
        <script src="planetdoctor.js"></script>
        <script src="all_doctors.js"></script>
        <link rel="stylesheet" href="data_style.css">
    </head>
    <body>
        <h1>Doctors Availability<img src='planetdoctor1.png' style='position:absolute; left: 600px;'></h1>
        <div ng-app="PDapp" ng-controller="doctorController">
            <table class="customTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Doctor_ID</th>
                    <th>Gender</th>
                    <th>Availability</th>
                </tr>
                </thead>
                <tr ng-repeat = "doctor in doctors">
                    <td>{{ doctor.Name }}</td>
                    <td>{{ doctor.Doctor_ID }}</td>
                    <td>{{ doctor.Gender }}</td>
                    <td><input type="text" ng-model="doctor.Availability"></td>
                
                    <td><input type="button" ng-click="deleteDoctor(doctor.Doctor_ID)" value="Delete"></td> 
                    <td><input type="button" ng-click="updateDoctor()" value="Update"></td>                   
                </tr>
                <tr>
                    <td><input type="text" ng-model="new_doctor.Name"></td>
                    <td><input type="text" ng-model="new_doctor.Doctor_ID"></td>
                    <td><input type="text" ng-model="new_doctor.Gender"></td>
                    <td><input type="text" ng-model="new_doctor.Availability"></td>
                    <td><input type="button" ng-click="createDoctor()" value="Create"></td>
                </tr>
            </table>
        </div>

        <a href="index.html" class= "logout" style="color: white; background-color: #248FD6; font: sans-serif; font-weight: 100; font-size: 15px; border: solid #248FD6;
        border-radius: 2px; padding: 2px 8px; transition-duration: 20ms; text-decoration: none; margin: 90%; margin-top: 300px; position: absolute; top: 10%;">Logout</a>

        <a href="doc_dashboard.html" class= "dashboard" style="color: white; background-color: #248FD6; font: sans-serif; font-weight: 100; font-size: 15px; border: solid #248FD6;
        border-radius: 2px; padding: 2px 8px; transition-duration: 0.5ms; text-decoration: none; margin: 80%; margin-top: 300px; position: absolute; top: 10%;">Dashboard</a>

    </body>
</html>
