<!DOCTYPE html>
<html>
  <head>
    <title>Volunteers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="planetdoctor.js"></script>         <!--was student.js-->
    <script src="all_volunteers.js"></script>       <!--was all_programmes.js-->
    <link rel="stylesheet" href="data_style.css">
  </head>
  <body>
    <h1>Volunteers<img src='planetdoctor1.png' style='position:absolute; left: 200px;'></h1>
   
    <div ng-app="mainApp" ng-controller="volunteerController">     <!--was programmeController-->
      <table class="customTable">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Profession</th>
          <th>Nationality</th>
          <th>Camp Location</th>
        </tr>
        <tr ng-repeat = "volunteer in volunteers"> <!--was programme in programmes-->
          <td>{{ volunteer.ID }}</td>            <!--was programme.code-->
          <td>{{ volunteer.First_Name }}</td>            <!--was programme.name-->
          <td>{{ volunteer.Last_Name }}</td>
          <td>{{ volunteer.Profession }}</td>
          <td>{{ volunteer.Nationality }}</td>
          <td> {{ volunteer.camp_loc }}</td>
          <td><input type="button" ng-click="deleteVolunteer(volunteer.ID)" value="delete"></td>
        </tr>
        <tr>
          <td><input type="text" ng-model= "new_volunteer.ID"></td>
          <td><input type="text" ng-model= "new_volunteer.First_Name"></td>
          <td><input type="text" ng-model= "new_volunteer.Last_Name"></td>
          <td><input type="text" ng-model= "new_volunteer.Profession"></td>
          <td><input type="text" ng-model= "new_volunteer.Nationality"></td>
          <td><input type="text" ng-model= "new_volunteer.camp_loc"></td>
          <td><input type="button" ng-click="createVolunteer()" value='create'></td>
        </tr>
      </table>
    </div>
  </body>
</html>