<!DOCTYPE html>
<html>
  <head>
    <title>Prescriptions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="planetdoctor.js"></script>
    <script src="all_prescriptions.js"></script> 
    <link rel="stylesheet" href="data_style.css">
  </head>
  <body>
    <h1>Prescriptions<img src='planetdoctor1.png' style='position:absolute; left: 600px;'></h1>
    
   
    <div ng-app="PDApp" ng-controller="prescriptionController"> 
      <table class = customTable>
        <thead>
        <tr>
            <th>Drug_name</th>
            <th>Stock</th>
            <th>Drug_ID</th>
            <th>Patient_ID</th>
        </tr>
    </thead>
        <tr ng-repeat="prescription in prescriptions">
            <td> {{ prescription.Drug_name }}</td>
            <td> {{ prescription.Stock }}</td>
            <td> {{ prescription.Drug_ID }}</td>
            <td> {{ prescription.Patient_ID }}</td> 
           <!-- <td><input type="button" ng-click="selectPrescription(prescription.Patient_ID)" value="Select"></td>-->
                    <td><input type="button" ng-click="updatePrescription(prescription.Patient_ID)" value="Edit"></td>
                <tr>
                    <td><input type="text" ng-model="new_prescription.Drug_name"></td>
                    <td><input type="text" ng-model="new_prescription.Stock"></td>
                    <td><input type="text" ng-model="new_prescription.Drug_ID"></td>
                    <td><input type="text" ng-model="new_prescription.Patient_ID"></td>
                    <td><input type="button" ng-click="createPrescription()" value="Create"></td>
                </tr>
              </table>
      <!-- <div Drug_name = "selected">
          <h2>{{ selectedprescription.Drug_name }} {{ selectedprescription.Stock }} {{ selectedprescription.Drug_ID }} {{ selectedprescription.Patient_ID }} </h2>-->
            
        </div> 

        <a href="doc_dashboard.html" class= "dashboard" style="color: white; background-color: #248FD6; font: sans-serif; font-weight: 100; font-size: 15px; border: solid #248FD6;
        border-radius: 2px; padding: 2px 8px; transition-duration: 0.5ms; text-decoration: none; margin: 80%; margin-top: 300px; position:absolute; left: 200px">Doctor Dashboard</a> 

        <a href="index.html" class= "logout" style="color: white; background-color: #248FD6; font: sans-serif; font-weight: 100; font-size: 15px; border: solid #248FD6;
        border-radius: 2px; padding: 2px 8px; transition-duration: 20ms; text-decoration: none; margin: 90%; margin-top: 300px; position:absolute; left: 150px">Logout</a>
    </body>
</html>