<!DOCTYPE html>
<html>
  <head>
    <title>Volunteers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="planetdoctor.js"></script>         
    <script src="all_volunteers.js"></script>       
    <link rel="stylesheet" href="data_style.css">
  </head>
  <body>
    <h1>Volunteers</h1>

    <div ng-app="mainApp" ng-controller="volunteerController">     
      <table class="customTable">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Profession</th>
          <th>Nationality</th>
          <th>Camp Location</th>
        </tr>
        <tr ng-repeat = "volunteer in volunteers"> 
          <td>{{ volunteer.ID }}</td>            
          <td>{{ volunteer.First_Name }}</td>            
          <td>{{ volunteer.Last_Name }}</td>
          <td>{{ volunteer.Profession }}</td>
          <td>{{ volunteer.Nationality }}</td>
          <td> {{ volunteer.camp_loc }}</td>
          <td><input type="button" ng-click="deleteVolunteer(volunteer.ID)" value="delete"></td>
         
          <td><input type="button" ng-click="selectVolunteer(volunteer.ID)" value="change camp"></td>
          
        </tr>
        <tr>
          <td><input type="text" ng-model= "new_volunteer.ID" placeholder='ID'></td>
          <td><input type="text" ng-model= "new_volunteer.First_Name" placeholder='First Name'></td>
          <td><input type="text" ng-model= "new_volunteer.Last_Name" placeholder='Second Name'></td>
          <td><input type="text" ng-model= "new_volunteer.Profession" placeholder= 'Profession'></td>
          <td><input type="text" ng-model= "new_volunteer.Nationality" placeholder= 'Nationality'></td>
          <td><input type="text" ng-model= "new_volunteer.camp_loc" placeholder= 'Camp Location'></td>
          <td><input type="button" ng-click="createVolunteer()" value='create'></td>
        </tr>
      </table>
      
      <div id="selected">

        <h2>ID: {{  Volunteer.ID}}</h2>
        <h2>Current Location: <span>{{Volunteer.camp_loc}}</span></h2>

        <h2>ID: {{Volunteer.ID}}</h2>
        <h2>Current Location: <span>{{camp_locs}}</span></h2>
      
        <input type="text" id='camp_loca' ng-model='Volunteer.camp_loc' value=Volunteer.camp_loc/>
          <!--<input type="text" ng-model="ud_camp_loc"> -->   
        <input type="button" ng-click='updateVolunteer(Volunteer )' value="update">
          
      
        <h2>New location: <span ng-bind='Volunteer.camp_loc'></span></h2>   
      </div>
      

    </div>
  </body>
</html>