<!DOCTYPE html>
<html>
    <head>
        <title>Patients</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
        <script src="planetdoctor.js"></script>
        <script src="all_patients.js"></script>
        <link rel="stylesheet" href="data_style.css">
    </head>
    <body>
        <h1>Patient Medical Records<img src='planetdoctor1.png' style='position:absolute; left: 600px;'></h1>
        <h1></h1>
        <div ng-app="PDApp" ng-controller="patientController">

            <table class=customTable>
                <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Current Symptoms</th>
                </tr>
            </thead>
                <tr ng-repeat = "patient in patients">
                    <td>{{ patient.Patient_ID }}</td>
                    <td>{{ patient.P_First_Name }}</td>
                    <td>{{ patient.P_Last_Name }}</td>
                    <td>{{ patient.DOB }}</td>
                    <td>{{ patient.Gender}}</td>
                    <td><input type="text" ng-model="patient.Symptoms"></td>
                    <td><input type="button" ng-click="selectPatient(patient)" value="Select"></td>
                    <td><input type="button" ng-click="updatePatient()" value="Update"></td>
                    <td><input type="button" ng-click="deletePatient(patient.Patient_ID)" value="Delete"></td>
                <tr>
                    <td><input type="text" ng-model="new_patient.Patient_ID" placeholder='Patient ID'></td>
                    <td><input type="text" ng-model="new_patient.P_First_Name" placeholder='First Name'></td>
                    <td><input type="text" ng-model="new_patient.P_Last_Name" placeholder= 'Last Name'></td>
                    <td><input type="text" ng-model="new_patient.DOB" placeholder='Date of Birth'></td>
                    <td><input type="text" ng-model="new_patient.Gender" placeholder='Gender'></td>
                    <td><input type="text" ng-model="new_patient.Symptoms" placeholder='Current Symptoms'></td>
                    <td><input type="button" ng-click="createPatient()" value="Create"></td>
                </tr>
            
            </table>
        
        <div id="selected">
            <h2>Patient ID: {{ Patient.Patient_ID}} 
                <br>
                <br>
                Name: {{Patient.P_First_Name}} {{Patient.P_Last_Name}}
                <br>
                <br>
                Patient Referral:{{Patient.Referal}}
                <br>
                <br>
                Diagnosis: {{Patient.Diagnosis}}    
                <br>
                <br>
                Drug: {{Patient.Drug_name}}
                <br>
                <br>
                Drug ID: {{Patient.Drug_ID}}
                <br>
                <br>
                Tests: {{Patient.Tests}}</h2>
           <!-- <h3>Diagnostic Information</h3>
            <table class=customTable></table>
            <tr>
                <th>Diagnosis</th>
                <th>Drug_name</th>
            </tr>
          <tr ng-repeat="diagnostic in selectedPatient.diagnostics">
                <td></td>
                <td>{{Diagnostic.Drug_name }}</td>
            </tr>
            </table>-->
        </div>
        </div>

        <a href="admin_dashboard.html" class= "dashboard" style="color: white; background-color: #248FD6; font: sans-serif; font-weight: 100; font-size: 15px; border: solid #248FD6;
        border-radius: 2px; padding: 2px 8px; transition-duration: 0.5ms; text-decoration: none; margin: 80%; margin-top: 300px; position:absolute; left: 100px">Admin Dashboard</a>
        
        <a href="doc_dashboard.html" class= "dashboard" style="color: white; background-color: #248FD6; font: sans-serif; font-weight: 100; font-size: 15px; border: solid #248FD6;
        border-radius: 2px; padding: 2px 8px; transition-duration: 0.5ms; text-decoration: none; margin: 80%; margin-top: 300px; position:absolute; left: 200px">Doctor Dashboard</a>


        <a href="index.html" class= "logout" style="color: white; background-color: #248FD6; font: sans-serif; font-weight: 100; font-size: 15px; border: solid #248FD6;
        border-radius: 2px; padding: 2px 8px; transition-duration: 20ms; text-decoration: none; margin: 90%; margin-top: 300px; position:absolute; left: 150px">Logout</a>


    </body>
</html>
