<!DOCTYPE html>
<html>
    <head>
        <title>Diagnostics</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
        <script src="planetdoctor.js"></script>
        <script src="all_diagnostics.js"></script>
        <link rel="stylesheet" href="data_style.css">
    </head>
    <body>
        
        <h1>Diagnostics Records <i class="fa fa-address-card" aria-hidden="true"> </i>
        </h1>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" /> 

        <div ng-app="PDApp" ng-controller="diagnosticController">
            <table class = customTable>
                <thead>
                <tr>
                    <th>Patient_ID</th>
                    <th>P_First_Name</th>
                    <th>P_Last_Name</th>
                    <th>Diagnosis</th>
                    <th>Drug_ID</th>
                    <th>Drug_name</th>
                    <th>Tests</th>
                    <th>Referal</th>
                </tr>
            </thead>
                <tr ng-repeat="diagnostic in diagnostics">
                    <td>{{ diagnostic.Patient_ID }}</td>
                    <td>{{ diagnostic.P_First_Name }}</td>
                    <td>{{ diagnostic.P_Last_Name }}</td>
                    <td>{{ diagnostic.Diagnosis }}</td>
                    <td>{{ diagnostic.Drug_ID }}</td>
                    <td>{{ diagnostic.Drug_name }}</td>    
                    <td>{{ diagnostic.Tests }}</td>
                    <td>{{ diagnostic.Referal }}</td>
                    <td><input type="button" ng-click="selectDiagnostic (diagnostic.Patient_ID)" value="Select"></td>
                    <td><input type="button" ng-click="deleteDiagnostic (diagnostic.Patient_ID)" value="Delete"></td>
                    <td><input type="button" ng-click="updateDiagnostic (diagnostic.Patient_ID)" value="Update"></td>
                    <td><input type="button" ng-click="createDiagnostic (diagnostic.Patient_ID)" value="Create"></td>
                </tr>

            </table>
            
        </div>
    </body>
</html>
