<!DOCTYPE html>
<html>
  <head>
    <title>Volunteers                          <!--was Programmes-->
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="planetdoctor.js"></script>         <!--was student.js-->
    <script src="all_volunteers.js"></script>       <!--was all_programmes.js-->
  </head>
  <body>
    <h1>Volunteers<img src='planetdoctor1.png' style='position:absolute; left: 200px;'></h1>
   
    <div ng-app="mainApp" ng-controller="volunteerController">     <!--was programmeController-->
      <table border=1>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Profession</th>
          <th>Nationality</th>
          <th>Camp Location</th>

        </tr>
        <tr ng-repeat = "volunteer in volunteers"> <!--was programme in programmes-->
          <td>{{ volunteer.ID }}</td>            <!--was programme.code-->
          <td>{{ volunteer.First_Name }}</td>            <!--was programme.name-->
          <td>{{ volunteer.Last_Name }}</td>
          <td>{{ volunteer.Profession }}</td>
          <td>{{ volunteer.Nationality }}</td>
          <td> {{ volunteer.camp_loc }}</td>
          <td><input type="button" ng-click="selectVolunteer(volunteer.ID)" value="select"></td>
          <td><input type="button" ng-click="deleteVolunteer(volunteer.ID)" value="delete"></td>
        </tr>
      </table>
      <div id = "selected">
          <h2>ID: {{selectVolunteer.ID}}</h2>
          <h2>First Name: {{selectVolunteer.First_Name}}, Last Name: {{selectVolunteer.Last_Name}}</h2>
          <h2>Profession: {{selectVolunteer.Profession}}, Nationality: {{selectVolunteer.Nationality}}</h2>
          <h2> Camp Location: {{selectVolunteer.camp_loc}}</h2>


      </div>
    </div>
  </body>
</html>